// Colors
$primaryColor: #37003c;
$secondaryColor: #1077c3;
$winColor: #13cf00;
$lostColor: #d81920;
$drawColor: #767676;
$borderColor: #ddd;
$white: #fff;
$hoverColor: #ccc;
$modalBody: #202124;
$secColor: #e4b1f371;

// Fonts
$title: 50px;
$title-weight: 600;
$title-height: 80px;
$title-color: $primaryColor;

$header: 18px;
$header-weight: 600;
$header-height: 28px;
$header-color: #222;

$score: 36px;
$score-height: 48px;
$score-weight: 500;

$list: 16px;
$list-weight: 400;
$list-height: 26px;
$list-color: #111;
